/*Reglas de color según identidad de marca
Colores principales: 
-Naranja: #ff3000 RGB 255 48 0
-Azul: #003582 RGB 0 53 130

Colores secundarios:
-Naranja claro: #ff6c38 RGB 255 108 56
-Naranja rojo: #c30000 RGB 195 0 0

-Azul claro: #485eb2 RGB 72 94 178
-Azul oscuro: #001154 RGB 0 17 84

Variaciones de transparencia:

*/

/*Área de línea de título*/
.lineTrade-container{
    width: 100%;
    background-color: #ff3000;
    text-align: center;
    margin-top: -0.4%;
}


.lineTrade-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.3%;
    padding-top: 2%;
}

.lineTrade-container h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    margin: 0%;
    padding-bottom: 2%;
}

/*Área de caja de búsqueda*/

.box-search{
    width: auto; /*Ojo tener en cuenta el width 100% porque daña la visual*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.search-text{
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ff3000;
}

.box{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.form-control{
    border: 1px solid #ff3000 !important;
}

.button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.btn-secondary{
    background-color: #485eb2 !important;
    border: 1px solid #485eb2 !important;
}


/*Área de fila de libros formato ILUSTRADOS OJO (SOLO ESTILO PARA ESTA FILA)*/
.row-books{
    width: auto;
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 5rem;
    margin-bottom: 10rem;
    padding: 3rem;
}

.row-books img{
    margin: 0.8rem;
}

.row-books img:hover{
    box-shadow: 0.3rem 0.3rem 0.1rem #cccccc;
}

.title-format{
    background-color: #c30000;
    padding: 0.5rem;
}

.title-format>h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: #FFF;
}

/*Modal 1 solo cambia .modal-view*/
.modal-view1{
    background-color: #87cacc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.view-image{
    width: fit-content;
    padding: 2rem;
}

.info-book{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book b{
    color: #001154;
}

.btn-solitude{
    padding: 1rem;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------*/


/*Modal 1 solo cambia .confirmed-box1*/
.confirmed-box1{
    background-color: #87cacc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.box-check{
    display: flex;
    flex-direction: column;
}

.confirmed-text{
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #FFF;
}

.confirmed-icon{
    font-size: 6rem;
    color: #FFF;
    border-radius: 10rem;
    text-align: center;
}

/*Modal 2*/
.modal-view2{
    background-color: #16595F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.confirmed-box2{
    background-color: #16595F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*Modal 3*/
.modal-view3{
    background-color: #50C0D8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.confirmed-box3{
    background-color: #50C0D8;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*Modal 4*/
.modal-view4{
    background-color: #BF7256;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.confirmed-box4{
    background-color: #BF7256;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*Modal 5*/
.modal-view5{
    background-color: #DEE442;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.confirmed-box5{
    background-color: #DEE442;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/*Modal 6*/
.modal-view6{
    background-color: #868D7E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.confirmed-box6{
    background-color: #868D7E;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}