/*Reglas de color según identidad de marca
Colores principales: 
-Naranja: #ff3000 RGB 255 48 0
-Azul: #003582 RGB 0 53 130

Colores secundarios:
-Naranja claro: #ff6c38 RGB 255 108 56
-Naranja rojo: #c30000 RGB 195 0 0

-Azul claro: #485eb2 RGB 72 94 178
-Azul oscuro: #001154 RGB 0 17 84

Variaciones de transparencia:

*/


/*Área de línea de sepración*/
.line-container{
    width: 100%;
    background-color: #003582;
    text-align: center;
}

/*Área de línea de título*/
.lineTrade-container{
    width: 100%;
    background-color: #003582;
    text-align: center;
    margin-top: -0.4%;
}


.lineTrade-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.3%;
    padding-top: 2%;
}

.lineTrade-container h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    margin: 0%;
    padding-bottom: 2%;
}


/*Área de noticias*/
.wrapper-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*Primera fila de noticias*/
.row1-news{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-top: 4%;
}

.bibliotech-news{
    position: relative;
}

.photo-one{
    filter: brightness(30%);
}

.btn-about{
    position: absolute;
    left: 12%;
    bottom: 25%;
    background-color: #485eb2;
    border: 2px solid #485eb2;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
}

/*Efectos hover*/
.photo-one:hover{
    filter: none;
}

.info-news{
    margin-bottom: 3%;
    padding: 68px;
}

.info-news p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    color: #ff3000;
}

/*Segunda fila de noticias*/

.row2-news{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-bottom: 4%;
}

.news1-news{
    position: relative;
}

.photo-two{
    filter: brightness(30%);
}

.photo-two:hover{
    filter: none;
}

.headline-news1{
    position: absolute;
    top: 45%;
    left: 15%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

.news2-news{
    position: relative;
}

.photo-three{
    filter: brightness(30%);
}

.photo-three:hover{
    filter: none;
}

.headline-news2{
    position: absolute;
    top: 45%;
    left: 8%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}

/*Área modal de noticias*/
.modal-n{
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-news1{
    display: flex;
    flex-direction: column;
    background-color: #003582;
    width: 50%;
    height: 50%;
    padding: 10px 20px;
    margin: 12% auto;
    position: relative;
}

#wrap-modal1:target{
    opacity: 1;
    pointer-events: auto;
}

.modal-news2{
    display: flex;
    flex-direction: column;
    background-color: #003582;
    width: 50%;
    height: 50%;
    padding: 10px 20px;
    margin: 12% auto;
    position: relative;
}

#wrap-modal2:target{
    opacity: 1;
    pointer-events: auto;
}


.title-news{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #FFF;
}

.text-news{
    height: 60%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    padding: 3%;
}

.news-btn{
    display: flex;
    text-align: center;
    left: 2%;
}

.news-btn a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    border: 10px solid #485eb2;
    text-decoration: none;
}

