/* Elementos generales */
html {
    font-family: 'Roboto', sans-serif;
}

.body {
    font-size: 16px;
    margin: 0;

}

.cuerpo {
    display: flex !important;
}

.material-icons--settings {
    font-size: 24px;
    color: #757575;
}

/* Esqueleto barra */
.barra-lateral {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    background-color: white;
    width: 16vw;
    height: 100vh;
    /*
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.625rem;
    */
    border-right: 1px solid #0000001F;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.082), 0 1px 2px rgba(0, 0, 0, 0.158);

}

/* Espacio para el logo y el nombre */
.contenedor-header {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 9vw;
    border-bottom: 1px solid #0000001F;
}

.contenedor-header__logo {
    /* background-color: rgba(0, 255, 200, 0.082); WIREFRAME*/

    width: 100%;
    height: 100%;
    /* padding: 0.625rem; */
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 1.25rem;

    box-sizing: border-box;
}

.contenedor-header__logo img {
    width: 100%;
}

.contenedor-header__usuario {
    /* background-color: crimson; WIREFRAME*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 2.5rem;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    box-sizing: border-box;
}

.header__usuario {
    /* background-color: rgb(255, 0, 242); WIREFRAME*/

    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1.25rem;

}

.usuario_titulo {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}


.header__usuario-label {
    background-color: #FFAA00 !important;

    display: inline-flex;


    padding-left: 0.625rem;
    padding-right: 0.625rem;

    border-radius: 6px;
}

.header__usuario-label-texto {
    font-family: 'Roboto', sans-serif;
}



/* Primer cuerpo del menú */
.contenedor-body-1 {
    /* background-color: rgba(0, 0, 0, 0.082); WIREFRAME*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 10rem;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    border-bottom: 1px solid #0000001F;

    box-sizing: border-box;
}


/* Primera Sección */
.contenedor-barra-1 {
    /* background-color: crimson;  WIREFRAME*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    height: 2.5rem;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    box-sizing: border-box;

    /*border-radius: 4px;*/
}

/* Primera Sección - elemento*/
.elemento-1 {
    /* background-color: rgb(255, 0, 242); WIREFRAME*/

    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.25rem;

}

/* Primera Sección - icono*/
.elemento-1__icono {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

    margin-right: 1.5rem;
}


.elemento-1__titulo {
    color: #828282;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 0.20px;
}


/* Borde gris al pasar el mouse por encima del menú*/
.contenedor-barra-1:hover {
    background-color: #00000009;
    border-radius: 4px;
    cursor: pointer;
}

.contenedor-barra-2:hover {
    background-color: #00000009;
    border-radius: 4px;
    cursor: pointer;
}

.contenedor-barra-3:hover {
    background-color: #00000009;
    border-radius: 4px;
    cursor: pointer;
}

/* <-----------------------------------> */



/* Seleccion actual en la barra de menú */
.contenedor-barra-1--actual {
    background-color: #FFE6E0 !important;
    border-radius: 4px;
}

.elemento-1__titulo--actual {
    color: #FF3000;
    font-weight: 400;
}

.material-icons--settings-actual {
    color: #FF3000;
}

/* <-----------------------------------> */

.contenedor-barra-2 {
    /* background-color: yellowgreen;  WIREFRAME*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 2.5rem;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    box-sizing: border-box;

    /*border-radius: 4px;*/
}

.contenedor-barra-3 {
    /* background-color: burlywood;  WIREFRAME*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 2.5rem;

    padding-left: 0.625rem;
    padding-right: 0.625rem;

    box-sizing: border-box;

    /*border-radius: 4px;*/
}


/* Segunda sección del menú */

.contenedor-body-2 {
    /* background-color: rgba(8, 43, 243, 0.082); WIREFRAME*/

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 3.75rem;

    padding-top: 0.625rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    box-sizing: border-box;
}

/* Fin de la barra lateral */





/* contenido interno del sitio */

/* Contenido total del cuerpo de la pagina */
.contenido {
    /* background-color: rgba(0, 4, 255, 0.699); WIREFRAME*/

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;

    width: 84vw;
    height: 100vh;
    /*
    
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 0.625rem;
    */

}

/* FIN Contenido total del cuerpo de la pagina */



/* Parte superior (Migas de pan y botones) */



/* Contenedores principales de la seccion superior */
.barra-superior {
    /* background-color: chocolate; WIREFRAME */

    display: flex;
    justify-content: center;

    height: 6.25rem;
    width: 100%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.contenedor-superior {
    /* background-color: rgb(255, 0, 85);  WIREFRAME*/

    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
    padding-left: 3.75rem;
}

.contenedor-migasdepan {
    /* background-color: chartreuse;  WIREFRAME */

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
}

/* FIN Contenedores principales de la seccion superior */


/* Botones superiores */
.contenedor-botonessuperiores {
    /* background-color: rgb(255, 0, 85); WIREFRAME */

    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;

}

.boton__crear {

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #03DAC5;

    width: 2.375rem;
    height: 2.375rem;
    border-radius: 4px;

    box-sizing: border-box;

    margin-right: 1.25rem;

    cursor: pointer;
}

.boton__crear:hover {
    background-color: #07bba9;
}

.icono-superior {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}


.material-icons--boton-sup {
    color: #FFFFFF;
    font-size: 2.375rem;
}



.boton__seleccionar {

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #485EB2;

    width: 2.375rem;
    height: 2.375rem;
    border-radius: 4px;

    box-sizing: border-box;

    margin-right: 1.25rem;

}

.boton__borrar {

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #C30000;

    width: 2.375rem;
    height: 2.375rem;
    border-radius: 4px;

    box-sizing: border-box;

    margin-right: 1.25rem;

}

/* FIN Botones superiores */


/* Migas de pan */
.migas__principal--texto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2.125rem;
    letter-spacing: 0.016rem;
}

.migas__principal--texto a {
    text-decoration: none;
    color: #AAAAAA
}

.migas__principal--texto a:hover {
    text-decoration: none;
    color: #485EB2
}

.miga1 {
    color: #AAAAAA;
}

.separador {

    color: #AAAAAA;
    padding-left: 2rem;
    padding-right: 2rem;

}

/* FIN migas de pan */

/* FIN Parte superior (Migas de pan y botones) */



/* Contenido central y principal de la pagina */



/* Contenedor central */
.seccion-central {
    /* background-color: rgb(255, 0, 242);  WIREFRAME*/

    display: flex;
    justify-content: center;

    width: 100%;
    height: 100vh;

    padding-left: 5rem;
    padding-right: 5rem;

    box-sizing: border-box;

}

/* FIN Contenedor central */


/* Formulario para creación de Artículos */
.formulario-base {
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-flow: wrap;

    width: 53rem;
    height: 25rem;
    border-radius: 4px;

    border: 1px solid #0000001F;


    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.formulario-base-lado1 {
    /* background-color: #757575; WIREFRAME*/

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 26.5rem;
    height: 21.438rem;

    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    box-sizing: border-box;

}

.formulario-base-lado2 {
    /* background-color: darkolivegreen; WIREFRAME */

    display: flex;
    flex-direction: column;
    justify-content: normal;

    width: 26.5rem;
    height: 21.438rem;

    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    box-sizing: border-box;
}

.formulario-base-lado1 input {
    width: 21.313rem;
    height: 2.5rem;
    margin-bottom: 60px;
    border-radius: 4px;

    box-sizing: border-box;

}

.formulario-base-lado2 input {
    width: 21.313rem;
    /* height: 2.186rem; */
    margin-bottom: 60px;
    border-radius: 4px;

    box-sizing: border-box;

}

.formulario-base-lado2 select {
    width: 21.313rem;
    /* height: 2.5rem; */
    margin-bottom: 60px;

    box-sizing: border-box;
}

.contenedor-formulario-footer {
    /* background-color: #bbff00; WIREFRAME*/

    display: flex;
    justify-content: end;
    /* height: 3.75rem; */
    width: 100%;

    padding-top: 0.625rem;
    padding-bottom: 0.625rem;

    border-top: 1px solid #0000001F;

    box-sizing: border-box;

}

.contenedor-botones {
    /* background-color: darksalmon; WIREFRAME*/
    display: flex;
    align-items: center;
    padding-right: 2.5rem;
}

.contenedor-botones input {
    margin-left: 0.625rem;
}

.enlace-cancelar {
    color: #FF6C38;
    font-size: 0.875rem;
    text-decoration: none;
    margin-bottom: 3px;
}

.enlace-cancelar:hover {
    color: #da5e31;
}

.formulario__boton-crear {
    width: 5rem;
    height: 2.5rem;
    border-radius: 4px;
    font-size: 0.875rem;
    color: #FFFFFF;
    background-color: #485EB2;
    border: none;
    outline: none;
    margin-bottom: 3px;
    cursor: pointer;
}

.formulario__boton-crear:hover {
    background-color: #3f529c;
}

/* FIN Formulario para creación de Artículos */