/*Reglas de color según identidad de marca
Colores principales: 
-Naranja: #ff3000 RGB 255 48 0
-Azul: #003582 RGB 0 53 130

Colores secundarios:
-Naranja claro: #ff6c38 RGB 255 108 56
-Naranja rojo: #c30000 RGB 195 0 0

-Azul claro: #485eb2 RGB 72 94 178
-Azul oscuro: #001154 RGB 0 17 84

Variaciones de transparencia:

*/

/*Área de línea de título*/
.lineTrade-container{
    width: 100%;
    background-color: #ff3000;
    text-align: center;
    margin-top: -0.4%;
}


.lineTrade-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.3%;
    padding-top: 2%;
}

.lineTrade-container h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    margin: 0%;
    padding-bottom: 2%;
}

/*Área de caja de búsqueda*/

.box-search{
    width: auto; /*Ojo tener en cuenta el width 100% porque daña la visual*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.search-text{
    margin-right: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #ff3000;
}

.box{
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

/*Área de fila de libros formato ILUSTRADOS OJO (SOLO ESTILO PARA ESTA FILA)*/
.title-format{
    margin-top: 3rem;
    background-color: #c30000;
    padding: 0.2rem;
}

.row-books{
    width: auto;
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 2rem;
    margin-bottom: 10rem;
    padding: 1rem;
}

.row-books img{
    margin: 0.7rem;
}

.row-books img:hover{
    box-shadow: 0.3rem 0.3rem 0.1rem #cccccc;
}

.title-format>h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
}

.data-book{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.data-book>h4{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #003582;
    margin: 0.1rem;
    padding: 0rem;
}

.data-book>h5{
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #ff3000;
    color: #fff;
    padding: 0rem;
}

/*Modal 1 solo cambia .modal-view*/
.modal-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.modal-header{
    background-color: #ff3000 !important;
    border-bottom: none !important;
}

.close{
    font-size: 2rem !important;
    color: #FFF !important;
    text-shadow: none !important;
    opacity: none !important;
    background-color: #ff6c38 !important;
}

.close:hover{
    color: #001154 !important;
}

.info-book{
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #003582;
}

.info-book b{
    color: #ff3000;
}

.btn-solitude{
    padding: 1rem;
    text-align: center;
}

/*-----------------------------------------------------------------------------------------------------------------*/
/*Modal 1 solo cambia .confirmed-box1*/
.confirmed-box1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.box-check{
    display: flex;
    flex-direction: column;
}

.confirmed-text{
    padding-top: 2rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #003582;
}

.confirmed-icon{
    font-size: 6rem;
    color: rgb(115, 255, 0);
    border-radius: 10rem;
    text-align: center;
}