


/*Área de línea de sepración*/
.line-container{
    width: 100%;
    background-color: #003582;
    text-align: center;
    margin-top: -0.4%;
}

.line-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.3%;
    padding-top: 2%;
}

.line-container h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    margin: 0%;
    padding-bottom: 2%;
}

/*Contenedor principal*/
.wrapper-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*Área de info equipo*/

.info-team{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.4%;
    margin-top: 5.5%;
}

.team-one{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 1px solid #003582;
    border-radius: 15px;
}

.team-two{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 1px solid #003582;
    border-radius: 15px;
}

.team-three{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 1px solid #003582;
    border-radius: 15px;
}

.team-four{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 1px solid #003582;
    border-radius: 15px;
}

.team-five{
    width: 20%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border: 1px solid #003582;
    border-radius: 15px;
}

.ph{
    margin-right: auto;
    margin-left: auto;
}

.ph img{
    border: 2px solid #ff3000;
    border-radius: 100%;
}

.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #001154;
    text-align: center;
}

.info{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #ff3000;
    text-align: center;
}

.occupation{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #001154;
    text-align: center;

}

.contact-team{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #001154;
    text-align: center;
}

.contact-team>p{
    color: #ff3000;
}

.contact-team>a{
    color: #ff3000;
    text-decoration: none;
}


