/*Reglas de color según identidad de marca
Colores principales: 
-Naranja: #ff3000 RGB 255 48 0
-Azul: #003582 RGB 0 53 130

Colores secundarios:
-Naranja claro: #ff6c38 RGB 255 108 56
-Naranja rojo: #c30000 RGB 195 0 0

-Azul claro: #485eb2 RGB 72 94 178
-Azul oscuro: #001154 RGB 0 17 84

Variaciones de transparencia:

*/

/*Área de NavBar estilos solo aquí----------------------------------*/
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}

.logo{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}

.navbar{
    padding: 0rem !important;
}

/*Lo tomé del navegador porque no sabía cómo :)*/
@media (min-width: 768px){
.navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    flex-direction: column;
    align-items: flex-end;
}}


.login-bar{
    width: 100px;
    background-color: #485eb2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 4.5rem;
    background-color: #485eb2;
    border-bottom: 10px solid #001154;
    border-left: 8px solid #001154;
}

.login-bar>a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
}
.nav-bar>a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #ff3000;
}

.navbar-light .navbar-toggler{
    color: #001154 !important;
    font-size: 1.6rem;
}

/*Efectos mouse*/
.nav-bar>a:hover{
    color: #ff6c38;
}

.login-bar>a:hover{
    color: #003582;
}
/*Fin de área de NavBar-----------------------------------------*/

/*Área de línea de sepración*/
.line-container{
    background-color: #003582;
    text-align: center;
    margin: 0;
}

.line-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.3%;
    padding-top: 2%;
}

.line-container h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    margin: 0%;
    padding-bottom: 2%;
}


/*Contenedor principal*/
.wrapper-main{
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/*Área de banner de libros, saludo y redirección a préstamo*/
.banner-image{
    width: fit-content;
}

.banner-image1{
    width: 100%;
}

.banner-image2{
    width: 100%;
}

@media (min-width: 1280px){
    .banner-image{
        width: 100%;
        padding: 0rem;
        text-align: center;
    }
}

.banner-text{
    display: block;
    width: 28%;
    text-align: center;
    position: relative; z-index: 1;
    background-color: #ff3000;
    bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
}

.button-solitude{
    background-color: #ff6c38;
    padding: 1.3rem;
    border-radius: 3px;
}

.button-solitude a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
}

.button-solitude a:hover{
    color: #ff3000;
}

.banner-text h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: #FFF;
    margin: 0.8rem;
}

.banner-text h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #FFF;
    margin: 0.8rem;
}

/*Fin de área de banner*/

/*Área de footer único en esta hoja de estilos*/

.blue-1{
    background-color: #003582;
    text-align: center;
}

.orange-2{
    background-color: #ff6c38;
}

.orange-3{
    background-color: #ff3000;
}

.orange-4{
    background-color: #c30000;
}

.logo-foot{
    width: 100;
    align-self: center;
    padding: 1rem;
}

.info-foot{
    align-self: center;
    padding: 1rem;
    border-right: 2px solid #FFF;
}

@media (max-width: 960px){
    .info-foot{
        border-right: 0px;
    }
}

.info-foot h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #FFF;
    
}

.info-foot h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.8rem;
    color: #FFF;

}

.icons-foot{
    align-self: center;
    padding: 1rem;
}

.icons-foot a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    padding: 1rem;
}

.icons-foot a:hover{
    color: #001154;
}

.nav-foot{
    align-self: center;
    padding: 1rem;
}

.nav-foot ul li{
    list-style: none;
}

.nav-foot a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: #FFF;
    border-bottom: 0.2rem solid #FFF;
}

.nav-foot a:hover{
    color: #001154;
    border-bottom: 0.2rem solid #001154;
}
/*Fin de área de footer*/

