/*Reglas de color según identidad de marca
Colores principales: 
-Naranja: #ff3000 RGB 255 48 0
-Azul: #003582 RGB 0 53 130

Colores secundarios:
-Naranja claro: #ff6c38 RGB 255 108 56
-Naranja rojo: #c30000 RGB 195 0 0

-Azul claro: #485eb2 RGB 72 94 178
-Azul oscuro: #001154 RGB 0 17 84

Variaciones de transparencia:

*/
/*Line container lo lee desde style-index.css*/

/*Primera fila de noticias*/

.row-news2{
    margin-bottom: 4rem;
    padding: 1rem;
}

.news1-bibliotech img{
    filter: brightness(60%);
}

.btn-plus{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
}

.news2-text p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #ff3000;
    margin-top: 5rem;
}

.news2-text b{
    color: #003582;
}

.news3-how img{
    filter: brightness(60%);
}

.news3-how p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: #FFF;
    margin-top: 5rem;
}

.news4-prog img{
    filter: brightness(60%);
}

.news4-prog p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: #FFF;
    margin-top: 5rem;
}

.title-modal{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #003582;
    padding: 1rem;
}

.text-modal{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: 2.2rem;
}

.text-modal i{
    font-weight: 500;
}

.modal-backdrop{
    background-color: #FFF !important;
}
