/*Reglas de color según identidad de marca
Colores principales: 
-Naranja: #ff3000 RGB 255 48 0
-Azul: #003582 RGB 0 53 130

Colores secundarios:
-Naranja claro: #ff6c38 RGB 255 108 56
-Naranja rojo: #c30000 RGB 195 0 0

-Azul claro: #485eb2 RGB 72 94 178
-Azul oscuro: #001154 RGB 0 17 84

Variaciones de transparencia:

*/

/*Área de encabezado*/
.header-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}

.logo{
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
}

.bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    align-items: center;
}

.login-bar{
    width: 100px;
    background-color: #485eb2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 8px solid #001154;
    border-left: 8px solid #001154;
}

.login-bar>a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;

}
.nav-bar>a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: #ff3000;
}

/*Efectos mouse*/
.nav-bar>a:hover{
    color: #ff6c38;
}

.login-bar>a:hover{
    color: #003582;
}
/*Fin de área de encabezado*/

/*Área de línea de título*/
.lineTrade-container{
    width: 100%;
    background-color: #ff3000;
    text-align: center;
    margin-top: -0.4%;
}


.lineTrade-container h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: #FFF;
    margin: 0.3%;
    padding-top: 2%;
}

.lineTrade-container h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    color: #FFF;
    margin: 0%;
    padding-bottom: 2%;
}

/*Contenedor principal*/
.wrapper-main{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/*Área de caja de búsqueda*/

.box-section{
    display: block;
    text-align: center;
    margin-top: 4%;
}

.search-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ff3000;
}

.box{
    border: 1px solid #ff3000;
}

.button{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    border: 5px solid #485eb2;
}

/*Área de fila de libros formato ILUSTRADOS OJO (SOLO ESTILO PARA ESTA FILA)*/
.row-books{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 6%;
    border: 1px solid #003582;
    border-radius: 5px;
    padding-top: 4%;
    padding-bottom: 4%;
}

.row-books>ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 5px;
}



/*Área de ventanas modal Book one----------------------------------------------------------*/
.modal-view{
    background-color: #87cacc;
    width: 50%;
    padding: 4% 5%;
    margin: 12% auto;
    position: relative;
}

.modal-view>a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    text-decoration: none;
    padding: 1%;
}

.modal{
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

#view-one:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área de info de libro en ventana modal Book one-------------------------------------------*/
.info-book{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-book p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book p b{
    color: #001154;
}


.book-btn{
    display: block;
    text-align: center;
    margin-top: 4%;
}

.book-btn a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    border: 10px solid #485eb2;
    text-decoration: none;
}


/*Ventana modal libro 2 Book two----------------------------------------------------------------------------------*/
.modal-view-two{
    background-color: #16595F;
    width: 50%;
    padding: 4% 5%;
    margin: 12% auto;
    position: relative;
}

.modal-view-two a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    text-decoration: none;
    padding: 1%;
}

#view-two:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área de info de libro en ventana modal Book two*/
.info-book-two{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-book-two p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book-two p b{
    color: #001154;
}


/*Ventana modal libro 3 Book three----------------------------------------------------------------------------------*/
.modal-view-three{
    background-color: #50C0D8;
    width: 50%;
    padding: 4% 5%;
    margin: 12% auto;
    position: relative;
}

.modal-view-three a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    text-decoration: none;
    padding: 1%;
}

#view-three:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área de info de libro en ventana modal Book three*/
.info-book-three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-book-three p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book-three p b{
    color: #001154;
}

/*Ventana modal libro 4 Book four----------------------------------------------------------------------------------*/
.modal-view-four{
    background-color: #BF7256;
    width: 50%;
    padding: 4% 5%;
    margin: 12% auto;
    position: relative;
}

.modal-view-four a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    text-decoration: none;
    padding: 1%;
}

#view-four:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área de info de libro en ventana modal Book four*/
.info-book-four{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-book-four p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book-four p b{
    color: #001154;
}


/*Ventana modal libro 5 Book five----------------------------------------------------------------------------------*/
.modal-view-five{
    background-color: #DEE442;
    width: 50%;
    padding: 4% 5%;
    margin: 12% auto;
    position: relative;
}

.modal-view-five a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    text-decoration: none;
    padding: 1%;
}

#view-five:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área de info de libro en ventana modal Book five*/
.info-book-five{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-book-five p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book-five p b{
    color: #001154;
}

/*Ventana modal libro 6 Book six----------------------------------------------------------------------------------*/
.modal-view-six{
    background-color: #868D7E;
    width: 50%;
    padding: 4% 5%;
    margin: 12% auto;
    position: relative;
}

.modal-view-six a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    text-decoration: none;
    padding: 1%;
}

#view-six:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área de info de libro en ventana modal Book six*/
.info-book-six{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.info-book-six p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
}

.info-book-six p b{
    color: #001154;
}

/*Área ventana modal confirmación préstamo libro 1 book one-----------------------------------------------------------*/

.confirmed-view{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #87cacc;
    width: 50%;
    padding: 5.5% 5%;
    margin: 12% auto;
    position: relative;
}

.confirmed-box{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #FFF;
    border-radius: 2%;
}

.confirmed-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #003582;
    justify-content: center;
}

.confirmed-icon{
    width: 45%;
    border-radius: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(0, 255, 0);
}

.confirmed-icon>h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #FFF;
    font-size: 2rem;
}

.confirmed-btn{
    text-align: center;
    margin-top: 4%;
}

.confirmed-btn a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    background-color: #485eb2;
    color: #FFF;
    border: 10px solid #485eb2;
    text-decoration: none;
}


#view-confirmed1:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área ventana modal confirmación préstamo libro 2 Book two-------------------------------------------------------------*/

.confirmed-view2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #16595F;
    width: 50%;
    padding: 5.5% 5%;
    margin: 12% auto;
    position: relative;
}

#view-confirmed2:target{
    opacity: 1;
    pointer-events: auto;
}

/*Área ventana modal confirmación préstamo libro 3 Book three-------------------------------------------------------------*/

.confirmed-view3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #50C0D8; /*Cambia el color de la ventana según el color de la portada*/
    width: 50%;
    padding: 5.5% 5%;
    margin: 12% auto;
    position: relative;
}

#view-confirmed3:target{
    opacity: 1;
    pointer-events: auto;
}


/*Área ventana modal confirmación préstamo libro 4 Book four-------------------------------------------------------------*/

.confirmed-view4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #BF7256; /*Cambia el color de la ventana según el color de la portada*/
    width: 50%;
    padding: 5.5% 5%;
    margin: 12% auto;
    position: relative;
}

#view-confirmed4:target{
    opacity: 1;
    pointer-events: auto;
}


/*Área ventana modal confirmación préstamo libro 5 Book five-------------------------------------------------------------*/

.confirmed-view5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #DEE442; /*Cambia el color de la ventana según el color de la portada*/
    width: 50%;
    padding: 5.5% 5%;
    margin: 12% auto;
    position: relative;
}

#view-confirmed5:target{
    opacity: 1;
    pointer-events: auto;
}


/*Área ventana modal confirmación préstamo libro 6 Book six-------------------------------------------------------------*/

.confirmed-view6{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #868D7E; /*Cambia el color de la ventana según el color de la portada*/
    width: 50%;
    padding: 5.5% 5%;
    margin: 12% auto;
    position: relative;
}

#view-confirmed6:target{
    opacity: 1;
    pointer-events: auto;
}




/*Área de footer*/

.footer-section{
    margin-top: 5%;
    display: flex;
}

.blue-1{
    background-color: #003582;
    display: flex;
    justify-content: space-around;
    width: 95%;
}

.logo-foot{
    width: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-right: 3%;
    border-right: 3px solid #FFF;
}

.info-foot{
    width: 20%;
    margin-top: 3%;
}

.info-foot h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #FFF;
    
}

.info-foot h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    color: #FFF;
    
}

.icons-foot{
    width: 20%;
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 3%;
    border-right: 3px solid #FFF;
}

.icons-foot ul li{
    list-style: none;
}

.icons-foot a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
    color: #FFF;
    margin-right: 30px;
}

.icons-foot a:hover{
    color: #001154;
}

.nav-foot{
    width: 20%;
    display: inline-block;
    margin-top: 3%;
    margin-bottom: 3%;
}

.nav-foot ul li{
    list-style: none;
    border-bottom: 1px solid #FFF;
}

.nav-foot a{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-decoration: none;
    color: #FFF;
}

.nav-foot a:hover{
    color: #001154;
}

.orange-2{
    background-color: #ff6c38;
    width: 5%;
}

.orange-3{
    background-color: #ff3000;
    width: 5%;
}

.orange-4{
    background-color: #c30000;
    width: 5%;
}

/*Fin de área de footer*/






