

.row-team{
    width: auto;
    text-align: center;
    background-color: #F3F3F3;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 3rem;
}

/*Área de info equipo*/

.card{
    border-color: none !important;
}

.team-one{
    display: block;
}


@media(max-width: 991px){
    .team-one{
        display: flex;
    }
    .team-one img{
        height: 75%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.team-one img{
    border-radius: 100%;
}

.team-two{
    display: block;
}


@media(max-width: 991px){
    .team-two{
        display: flex;
    }
    .team-two img{
        height: 75%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.team-two img{
    border-radius: 100%;
    max-width: 98%;
}

.team-three{
    display: block;
}


@media(max-width: 991px){
    .team-three{
        display: flex;
    }
    .team-three img{
        height: 75%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.team-three img{
    border-radius: 100%;
    max-width: 98%;
}

.team-four{
    display: block;
}

@media(max-width: 991px){
    .team-four{
        display: flex;
    }
    .team-four img{
        height: 75%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.team-four img{
    border-radius: 100%;
    max-width: 98%;
}

.team-five{
    display: block;
}


@media(max-width: 991px){
    .team-five{
        display: flex;
    }
    .team-five img{
        height: 75%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.team-five img{
    border-radius: 100%;
}

.name{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    color: #001154;
    margin-top: 1rem;
}

.info{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    color: #ff3000;
    text-align: center;
}

.occupation{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #001154;
    text-align: center;

}

.contact-team{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
}
